@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url("../images/pic3.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container {
    margin-top:8px;
    border-bottom: 1px solid white;
}
.icon-bar {
    background: darkorange;
}
.navbar-toggle .icon-bar{
    width: 35px;
    height: 5px;
}
.navbar-brand {
	padding: 0;
	margin-bottom: 7px;
	height: 60px;
}
.dropdown-menu {
	background-color: rgba( 255,255,255, 0.8);
}
.link {
    margin-left: 35px;
	font-size: 23px;
    color: white;
}
#link:hover {
	background-color: rgba( 255,255,255, 0.8) !important;
}
.meh {
	text-align: center;
	font-size: 18px;
}

.modal-open .supreme-container{
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
#mehmehbox {
	position: absolute;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6)
}
.modal-content {
    height: 500px;
	width: 601px;
}
.modal body {
    position:absolute;
    box-sizing: border-box;
	padding: 40px;
}
.left-box {
	background-image: url("../images/Lsky.jpeg");
    position: absolute;
	top:0;
	left:0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 450px;
}
.poop {
	color:black;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}
.clicky {
    font-size: 18px;
}

.clicky:hover {
    text-decoration: none;
    color: #f44336;
}

input[type="text"], input[type="password"], input[type="number"] {
	display:block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

input[type="submit"] {
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background: #ff5722;
	transition: 0.2s ease;
}
.Line {
	color: White;
}
.right-box {
	background-image: url("../images/Dsky.jpeg");
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 450px;
}
.or {
	position:absolute;
	top: 180px;
	left: 280px;
	width: 40px;
	height: 40px;
	background: orangered;
    color: white;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
	line-height: 40px;
	text-align: center;
}