@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-image: url("../images/Background.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 0;
}
.header {
    height: 10%;
}
.container {
    margin-top:8px;
    border-bottom: 1px solid white;
}
.icon-bar {
    background: darkorange;
}
.navbar-toggle .icon-bar{
    width: 35px;
    height: 5px;
}
.navbar-brand {
	padding: 0;
	margin-bottom: 7px;
	height: 60px;
}
.dropdown-menu {
	background-color: rgba( 255,255,255, 0.8);
}
.link {
    margin-left: 35px;
	font-size: 23px;
    color: black;
}
#link:hover {
	background-color: rgba( 255,255,255, 0.8) !important;
}
.meh {
	text-align: center;
	font-size: 18px;
}

.modal-open .supreme-container{
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
#mehmehbox {
	position: absolute;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6)
}
.modal-content {
    height: 500px;
	width: 601px;
}
.modal body {
    position:absolute;
    box-sizing: border-box;
	padding: 40px;
}
.left-box {
	background-image: url("../images/Lsky.jpeg");
    position: absolute;
	top:0;
	left:0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 450px;
}
.poop {
	color:black;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}
.clicky {
    font-size: 18px;
}

.clicky:hover {
    text-decoration: none;
    color: #f44336;
}

input[type="text"], input[type="password"], input[type="number"] {
	display:block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

input[type="submit"] {
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background: #ff5722;
	transition: 0.2s ease;
}
.Line {
	color: White;
}
.right-box {
	background-image: url("../images/Dsky.jpeg");
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 450px;
}
.or {
	position:absolute;
	top: 180px;
	left: 280px;
	width: 40px;
	height: 40px;
	background: orangered;
    color: white;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
	line-height: 40px;
	text-align: center;
}
.section {
    padding: 70px 0 !important;
}
.header-filter {
    position: relative !important;
}
.page-header {
	height: 80vh;
	width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.container-fluid {
	padding-right: 40px;
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header-filter .md-layout {
    z-index: 2;
	bottom: 1em;
    position: absolute;
	padding-left: 15.5em;
	padding-right: 15.5em;
}
.md-layout {
    margin-right: -15px;
    margin-left: -15px;
}

.md-layout-item.md-size-50 {
    min-width: 50%;
    max-width: 50%;
    flex: 0 1 50%;
}
.md-layout-item {
    padding-right: 15px;
    padding-left: 15px;
}
.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
h4 {
	margin-top: 10px;
    margin-bottom: 10px;
}
.main {
    background: #fff;
    position: relative;
    z-index: 3;
}
.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.18), 0 6px 30px 5px rgba(0,0,0,.16), 0 8px 10px -5px rgba(0,0,0,.6);
}
footer {
    padding: 15px 0;
}
footer nav {
    display: inline-block;
}
footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
footer ul li {
    display: inline-block;
}
footer ul li a {
    color: inherit!important;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    display: block;
}